/**
 * Component - Cover
 */

.coverAnimation {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin: 0;
  opacity: 0.5;
}

#canvas {
  width: 100%;
  height: 100%;
}
