/**
 * Layout - G Nav
 */

.gNav {
  flex: 0 0 240px;
  letter-spacing: 0.02em;

  @media (max-width: breakpoint() - 1) {
    display: none;
  }

  &__inner {
    width: 12rem;
  }

  &__title {
    @extend %__title;
  }

  &__menuItem {
    margin-bottom: 0.375rem;
  }
}
