/**
 * Layout - G Nav
 */

.gNav {
  position: relative;
  flex: 0 0 14.5rem; // 15rem
  letter-spacing: 0.02em;

  @media (max-width: breakpoint() - 1) {
    display: none;
  }

  &__inner {
    position: fixed;
    width: 12rem;
  }

  &__title {
    @extend %__title;
  }

  &__primaryMenu {
    @include listUnstyled();
  }

  &__menuItem {
    margin-bottom: 0.375rem;
  }
}
